<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">
<head>
  {% include head.liquid %}
</head>
<body class="v2-body">
  {% include nav.liquid %}

  <main>
    {{ content }}
  </main>

  {% include footer.liquid %}
</body>
</html>
