---
layout: v2
---
<div class="v2-page">
  <header class="v2-page__header">
    <h1 class="v2-page__title">{{ page.title }}</h1>
    {% if page.description and page.show_lead != false %}
      <p class="v2-page__lead">{{ page.description }}</p>
    {% endif %}
  </header>
  <article class="v2-page__content">
    {{ content }}
  </article>
</div>
